/*Formulário*/
main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}


/*Caixas de seleção*/
form label, form p {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
    color: #09578f;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

/*Rodapé*/
footer {
	text-align: center;
	background: #09578f;
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

/*Parei em melhorando a semântica*/
