header {
	background: #a2b9bc;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin:  0 auto;
}

nav {
	position: absolute;
	top:  110px;
	right: 0;
}

nav li {
	display: inline;
	margin:0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #034f84;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
}

nav a:hover {
	color: #8b6f47;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border:  2px solid #034f84;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #8b6f47;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
    color: #034f84;
}

.produto-descricao {
	font-size: 25px;
    color: #034f84;
    font-weight: bolder;

}

.produto-preco	{
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
	color: #03426e;
}

/*Imagens dos produtos*/
.peixeinteiro{
    width: 100%;
}
.file {
    width: 100%;
}
.lata{
    width: 100%;
}

/*Video*/
.video {
    width: 800px;
    margin: 1em auto;

}

/*Rodapé*/
footer {
	text-align: center;
	background: #09578f;
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}



